body {
  background: linear-gradient(
    153deg,
    rgba(3, 114, 153, 1) 35%,
    rgba(4, 160, 193, 1) 100%
  );
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
}

.app::after {
  content: "";
  background-image: url(/Weather-site/src/assets/sun.gif);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -6rem;
  right: -17rem;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* --------------------- */
.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}
